body {
    margin: auto;
    background: rgb(238, 238, 238);
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
.image {
    margin: auto;
}
img {
    position: absolute;
    max-width: 100%;
}
.hideborder {
    max-width: 100%;
    padding: 0%;
}
.apikey {
    margin: auto;
    font-size: 18pt;
    position: absolute;
    bottom: 0px;
    left: 40%;
    min-width: 110px;
    max-width: 10%;
    margin-bottom: 2%;
}
div.image img {
    cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
}
.dropzone {
    min-height: 100%;
}